<template>
    <div class="slds-grid slds-wrap">
        <div class="slds-col slds-size_4-of-4">
            <div>
                <!-- Create an Input Field where user can enter text to find the
                Records-->
                <lightning-input  
                    label={objectName} value={searchKey} type="search"
                    onchange={handleChange} placeholder={placeholder} disabled={disable}>
                </lightning-input>
            </div>
        </div>
    </div>
</template>