<template>
    <lightning-quick-action-panel title="Create New RMA">

    <!-- <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container modalWidth">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={onModalClose}>
                    <lightning-icon icon-name="utility:close"
                        alternative-text="close"
                        variant="inverse"
                        size="small" ></lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Create New RMA</h2>
            </header>
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1"> -->
            <template if:true={showSpinner}>
                <lightning-spinner alternative-text="Loading.." size="medium" variant="brand"></lightning-spinner>
            </template>
            <lightning-layout multiple-rows>
                <lightning-layout-item size ="12">
                    <div class="slds-scrollable_y">
                        <div class="slds-text-title_caps" style="padding:0.5rem;background:#eff1f3;font-weight:bolder"> RMA Details</div>
                        
                        <lightning-layout multiple-rows>
                            <!--Enter Case-->
                            <lightning-layout-item size="6" padding="around-small">
                                <c-lookup iconname="standard:case" 
                                object-name="Case"
                                searchfield="CaseNumber"  label="Case"  onselectedrec={handleSelectedCase}  disable={disable} placeholder={caseNumber}></c-lookup>
                            </lightning-layout-item>


                            <!--Enter Purchase Location-->
                            <lightning-layout-item size="6" padding="around-small">
                                <lightning-combobox name="purchase location"
                                label="Purchase Location"
                                value={value}
                                placeholder="Select Purchase Location"
                                options={options}
                                onchange={handleChange} ></lightning-combobox>
                            </lightning-layout-item>

                            <!--Enter Opportunity-->
                            <lightning-layout-item size="6" padding="around-small">
                                <c-lookup iconname="standard:opportunity" 
                                object-name="Opportunity"
                                searchfield="Name"  label="Opportunity" onselectedrec={handleSelectedOpp}></c-lookup>
                            </lightning-layout-item>

                            <!--If Purchase Location is Distributor-->
                            <template if:true={distributor}>

                                <!--Enter Distributor Name-->
                                <lightning-layout-item size="6" padding="around-small">
                                    <lightning-input type="text" label="Distributor Name" onchange={handleDistributor}></lightning-input>
                                </lightning-layout-item>
                            </template>

                            <!--Enter Customer PO#-->
                            <lightning-layout-item size="6" padding="around-small">
                                <lightning-input type="text" label="Customer PO#" onchange={handleCustomerPo}></lightning-input>

                            </lightning-layout-item>

                            <!--Enter Customer RGA-->
                            <lightning-layout-item size="6" padding="around-small">
                                <lightning-input type="text" label="Customer RGA" onchange={handleCustomerRga}></lightning-input>

                            </lightning-layout-item>

                            <!--Enter Customer Tracking#-->
                            <lightning-layout-item size="6" padding="around-small">
                                <lightning-input type="text" label="Customer Tracking#" onchange={handleCustomerTrack}></lightning-input>

                            </lightning-layout-item>

                        </lightning-layout>
                    </div>
                </lightning-layout-item>

                <!--RMA Lines-->

                <lightning-layout-item size="12">
                    <div class="slds-scrollable_y">
                        <div class="slds-text-title_caps" style="padding:0.5rem;background:#eff1f3;font-weight:bolder">Add Items that are returned </div>
                            <lightning-card>
                                <div class="slds-grid slds-border_top slds-border_bottom " style= "font-size: medium ">
                                    
                                    <div class="slds-col slds-p-left_small slds-size_3-of-12">
                                        <span>Product</span>
                                    </div>
                                    <div class="slds-col slds-size_2-of-12">
                                    <span>Quantity</span>
                                    </div>
                                    <div class="slds-col slds-size_2-of-12">
                                    <span>Request Refund</span>
                                    </div>
                                    <div class="slds-col slds-size_2-of-12">
                                    <span> R&D Escalation</span>
                                    </div>
                                    <div class="slds-col slds-size_3-of-12">
                                        <span>Action </span>
                                    </div>
                                </div>
                                <template for:each={itemList} for:item="item" for:index="index">
                                    
                                    <lightning-layout key={item.id} multiple-rows>

                                        <lightning-layout-item size="3"
                                        class="slds-p-around_x-small">
                                            <c-lookup onselectedrec={handleSelctedProduct} index={index}></c-lookup>
                                        </lightning-layout-item>

                                        <lightning-layout-item size="2" 
                                        class="slds-p-around_large">
                                                <lightning-input type="number"  name={index} onblur={handleQuantityChange} variant="label-hidden" required></lightning-input>
                                        </lightning-layout-item>
                                        <lightning-layout-item size="2" 
                                             class="slds-p-around_x-large">
                                                <lightning-input type="checkbox" label="Request Refund" name={index} onchange={handleRefund} variant="label-hidden" ></lightning-input>
                                        </lightning-layout-item>
                                        <lightning-layout-item size="2" 
                                        class="slds-p-around_x-large">
                                                <lightning-input type="checkbox" label="R&D Escalation" name={index} onchange={handleEscalation} variant="label-hidden" ></lightning-input>
                                        </lightning-layout-item>
                                        <lightning-layout-item size="3" 
                                            class="slds-p-top_x-large">
                                            
                                                <lightning-button-icon icon-name="utility:add" access-key={item.id} id={index}
                                                    alternative-text="Add Row" size="medium" title="Add Row" onclick={addRow}>
                                                </lightning-button-icon>
                                                <lightning-button-icon class="slds-p-left_small" icon-name="utility:delete" access-key={item.id} id={index}
                                                    alternative-text="Delete Row" size="medium" title="Delete Row" onclick={removeRow}>
                                                </lightning-button-icon>
                                            
                                        </lightning-layout-item>

                                    </lightning-layout>
                                </template>
                            </lightning-card>
                    </div>    
                </lightning-layout-item>
            </lightning-layout>
        <!-- </div> -->
        <div slot="footer">
            <lightning-button label="Close" variant="neutral" onclick={onModalClose} class="slds-p-right_small"></lightning-button>
            <lightning-button class="slds-m-left_xx-small" type="submit" variant="brand" label="Create RMA"
                onclick={handleCreateRma}></lightning-button>                       
        
        </div>
    <!-- </section> -->
    <!-- <div class="slds-backdrop slds-backdrop_open"></div>   -->
    </lightning-quick-action-panel>
</template>