.pillWidth{
    width : 100% !important;
    padding-top : 3px;
}
.paddingAround{
    width : 100% !important;
    padding : 3px;
}
.objectName{
    color: rgb(107, 109, 112);
}
.records{
    max-height: 120px;
    overflow-y: scroll;
}