<template>
    <template if:false={selectedRecord}>
        <div>
            <c-search-component 
                object-name={label}
                onchange={handleOnchange}
                disable ={disable}
                placeholder={placeholder}>
                
            </c-search-component>
        </div>
    </template>
    <div >
        <template if:true={error}>
            <template if:true={error.details}>
                <template if:true={error.details.body}>
                    {error.details.body.message}
                </template>
            </template>
        </template>
    </div>
    <div class="records">
        <template if:false={selectedRecord}>
            <template if:true={records}>
                <template for:each={records} for:item="record">
                    <c-record-list key={record.Id} record={record} 
                        onselect={handleSelect} iconname={iconname}
                        fieldname={searchfield}>
                    </c-record-list>
                </template>
            </template>
        </template>
        <template if:false={selectedRecord}>
        </template>
    </div>
    <div>
        <template if:true={selectedRecord}>
            <!-- <div class="slds-combobox__form-element slds-input-has-icon 
                            slds-input-has-icon_left-right" role="none">
                    <span class="slds-icon_container
                                slds-icon-standard-account 
                                slds-combobox__input-entity-icon" title="Account">
                        <lightning-icon icon-name={iconname} ></lightning-icon>
                    </span>
                    <input class="slds-input slds-combobox__input
                           slds-combobox__input-value slds-box" 
                           id="combobox-id-5" aria-controls="listbox-id-5" 
                           autocomplete="off" role="textbox" type="text" 
                           placeholder="Select an Option" readonly=""
                           value={selectedRecord.Name}
                           disabled
                           />
                    <button class="sicon_container slds-button slds-button_icon 
                                   slds-input__icon slds-input__icon_right" 
                            title="Remove selected option"
                            onclick={handleRemove}>
                        <lightning-icon icon-name="utility:close" size="small">

                        </lightning-icon>
                        <span class="slds-assistive-text">Remove selected option</span>
                    </button>
                </div> -->
            <lightning-layout>
                <lightning-layout-item class="pillWidth">
                    <p class="objectName">{objectName}</p>
                    <div class="slds-m-top_xxx-small slds-grid slds-box paddingAround">
                        <div>
                            <lightning-icon icon-name={iconname} size="small"></lightning-icon>
                        </div>
                        <div class="slds-m-left_small slds-truncate pillWidth">
                            {selectedRecord.Name}
                        </div>
                        <div class="slds-m-left_small closeButton slds-p-top_xx-small">
                            <lightning-button-icon 
                                variant="bare" 
                                icon-name="utility:close" 
                                size="medium"
                                onclick={handleRemove}>
                            </lightning-button-icon>
                        </div>
                    </div>
                    <!-- <lightning-pill label={selectedRecord.Name} onremove={handleRemove}>
                        <lightning-icon icon-name={iconname}></lightning-icon>
                    </lightning-pill> -->
                </lightning-layout-item>
            </lightning-layout> 
        </template>
    </div>
</template>