<template> 
    <lightning-card title="RMA Lines" icon-name="standard:related_list">
        <lightning-button label="New" slot="actions" onclick={handleNewLine}></lightning-button>
        <div class="slds-grid slds-border_top slds-border_bottom " style= "font-size: medium ">
            <div class="slds-col slds-p-left_small slds-size_2-of-12">
            <span>RMA Line Number</span>
            </div>
            <div class="slds-col slds-p-left_small slds-size_2-of-12">
                <span>Product</span>
            </div>
            <div class="slds-col slds-size_2-of-12">
            <span>Quantity</span>
            </div>
            <div class="slds-col slds-size_2-of-12">
            <span>Request Refund</span>
            </div>
            <div class="slds-col slds-size_2-of-12">
            <span> R&D Escalation</span>
            </div>
            <div class="slds-col slds-size_2-of-12">
                <span> </span>
            </div>
        </div>
            
            
        <template for:each={rmaLines} for:item="line" for:index="index">
            <lightning-record-edit-form key={line.Id} record-id={line.Id} object-api-name="RMA_Line__c" >
            <lightning-messages > </lightning-messages>
            <lightning-layout multiple-rows>
            <lightning-layout-item  size="2" padding="around-small">
                
                <lightning-output-field field-name="Name" variant="label-hidden" >
                </lightning-output-field>
            </lightning-layout-item>
            <lightning-layout-item  size="2" padding="around-small">
                
                <lightning-output-field field-name="Product__c" variant="label-hidden" >
                </lightning-output-field>
            </lightning-layout-item>
            <lightning-layout-item  size="2" padding="around-small">
                
                <lightning-output-field field-name="Qty__c" variant="label-hidden" >
            </lightning-output-field>
            </lightning-layout-item>
            <lightning-layout-item  size="2" padding="around-small">
                
                <lightning-input-field field-name="Request_Refund__c" variant="label-hidden" >
                </lightning-input-field>
            </lightning-layout-item>
            <lightning-layout-item  size="2" padding="around-small">
                
                <lightning-input-field field-name="R_D_Escalation__c" variant="label-hidden" >
                </lightning-input-field>
            </lightning-layout-item>
            <lightning-layout-item  size="2" padding="around-small">
                
                <lightning-button label="Save" variant="brand" type="submit" onclick={handleNewLineSave}></lightning-button>
                <lightning-button class="slds-p-left_x-small" label="Receive Product" value={line.Id} onclick={handleReceive}></lightning-button>
            </lightning-layout-item>
            </lightning-layout>
        </lightning-record-edit-form>
        <div key ={line.id} class="slds-border_bottom"></div>
        </template>
    </lightning-card>
    <template if:true={showEvalModal}>
        <c-custom-rma-line-input record-id={rmaLineId} onclose={handleCloseModal} ontoastevnt={handleNewLineSave} ></c-custom-rma-line-input>
    </template>
    <template if:true={showNewLineModal}>
        <c-new-rma-line rma-id={recordId} onclose={handleCloseLineModal} onsave={handleNewLineSave}></c-new-rma-line>
    </template>
</template>