<template>
    
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container modalWidth">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={onModalClose}>
                    <lightning-icon icon-name="utility:close"
                        alternative-text="close"
                        variant="inverse"
                        size="small" ></lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Request Evaluation</h2>
            </header>
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                <lightning-layout multiple-rows>
            
                    <lightning-layout-item size="12">
                        <lightning-layout multiple-rows>
                                
                            <lightning-layout-item size ="12">
                                <div class="slds-text-title_caps" style="padding:0.5rem;background:#eff1f3;font-weight:bolder"> Return  Details</div>
                            </lightning-layout-item>


                            <lightning-layout-item size="6" class="slds-p-around_small">
                                <lightning-input type="date" label="Received Date" onchange={handleReceivedDate} ></lightning-input>
                            </lightning-layout-item>

                            <lightning-layout-item size="6" class="slds-p-around_small">
                        
                                <lightning-combobox name="disposition"
                                label="Product Disposition"
                                value={value}
                                placeholder="Select disposition"
                                options={options}
                                onchange={handleDisposition}></lightning-combobox>
                            </lightning-layout-item>

                            
                            <lightning-layout-item size="6" class="slds-p-around_small">
                                <lightning-input type="checkbox" label="R&D Escalation?" onchange={handleEscalation} ></lightning-input>
                            </lightning-layout-item>
                            

                            <template if:true={inspection}>

                            <lightning-layout-item size ="12">
                                <div class="slds-text-title_caps" style="padding:0.5rem;background:#eff1f3;font-weight:bolder"> Inspection Details</div>
                            </lightning-layout-item>        

                            <lightning-layout-item size="6" class="slds-p-around_small">
                        
                                <lightning-input type="date" label="Inspection Date" onchange={handleInspectionDate} ></lightning-input>
                            </lightning-layout-item>

                            <lightning-layout-item size="6" class="slds-p-around_small">
                                <lightning-input type="Text" label="Inspection Notes" onchange={handleInspectionNotes} ></lightning-input>
                            </lightning-layout-item>
                            </template>
                        
                        </lightning-layout>
                    </lightning-layout-item>
               
                </lightning-layout>
        </div>
        <footer class="slds-modal__footer">
            <lightning-button label="Close" variant="neutral" onclick={handleClose} class="slds-p-right_small"></lightning-button>
            <lightning-button class="slds-m-left_xx-small" type="submit" variant="brand" label="Submit"
                onclick={handleClick}></lightning-button>                       
        </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>